{% extends "base.html" %}
{% block inhoud %}
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>

<h1>Configuratieimport</h1>

<form action="/configuratieimport" method="POST" enctype="multipart/form-data">


    <div class="input-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input" name="cfgbestand" id="cfgbestand" aria-describedby="inputGroupFileAddon04" oninput="filesize(this);">
          <label class="custom-file-label" for="cfgbestand">Kies een bestand...</label>
        </div>
        <div class="input-group-append">
          <button type="submit" class="btn btn-outline-secondary" id="btn">Importeren
        </button>
        </div>
      </div>
</form>


<legend class="border-bottom mb-4"></legend>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="bestand-tab" data-toggle="tab" href="#bestand" role="tab" aria-controls="bestand" aria-selected="true">Bestand</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="verwerkt-tab" data-toggle="tab" href="#verwerkt" role="tab" aria-controls="verwerkt" aria-selected="false">Verwerkt</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="overzicht-tab" data-toggle="tab" href="#overzicht" role="tab" aria-controls="overzicht" aria-selected="false">Overzicht</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="bestand" role="tabpanel" aria-labelledby="bestand-tab">
          <div class="form-group">
              <textarea class="form-control" id="result" rows="30" cols="50">{% if cfgbestand %}{{ cfgbestand }}{% endif %}</textarea>
          </div>
          </div>

          <div class="tab-pane fade" id="verwerkt" role="tabpanel" aria-labelledby="verwerkt-tab">
          <div class="form-group">
            <textarea class="form-control" id="result" rows="30" cols="50">{{ cfgjson }}</textarea>
          </div>
          </div>

          <div class="tab-pane fade" id="overzicht" role="tabpanel" aria-labelledby="overzicht-tab" style="width: 100%">

            {{ cfghtml | safe }}

          </div>
        </div>

<legend class="border-bottom mb-4"></legend>


<script>
  function filesize(elem){
    document.cookie = `filesize=${elem.files[0].size}`
  }

  $('#cfgbestand').on('change',function(){
      //verkrijgen bestandsnaam
      var fileName = $(this).val();
      var shortFileName = fileName.replace('C:\\fakepath\\', " ");
      //vervangen label
      $(this).next('.custom-file-label').html(shortFileName);
  })
</script>

{% endblock %}