{% extends "base.html" %}
{% block inhoud %}

<h1>Configuratieimport</h1>

<form action="/configuratieimport" method="POST" enctype="multipart/form-data">

    <div class="input-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input" name="cfgbestand" id="cfgbestand" aria-describedby="inputGroupFileAddon04" oninput="filesize(this);">
          <label class="custom-file-label" for="cfgbestand">{% if bestandsnaam%}{{bestandsnaam}}{% else %}Kies een bestand...{% endif %}</label>
        </div>
        <div class="input-group-append">
          <button type="submit" class="btn btn-outline-secondary" id="btn">Importeren
        </button>
        </div>
      </div>
</form>


<legend class="border-bottom mb-4"></legend>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
  {% if cfgbestand and cfgjson %}
          <li class="nav-item">
            <a class="nav-link" id="bestand-tab" data-toggle="tab" href="#bestand" role="tab" aria-controls="bestand" aria-selected="true">(debug)Bestand</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="verwerkt-tab" data-toggle="tab" href="#verwerkt" role="tab" aria-controls="verwerkt" aria-selected="false">(debug)Verwerkt</a>
          </li>
  {% endif %}
          <li class="nav-item">
            <a class="nav-link" id="alleinstellingen-tab" data-toggle="tab" href="#alleinstellingen" role="tab" aria-controls="alleinstellingen" aria-selected="false">Alle instellingen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" id="overzicht-tab" data-toggle="tab" href="#overzicht" role="tab" aria-controls="overzicht" aria-selected="false">Overzicht</a>
          </li>
        </ul>

        <div class="tab-content" id="myTabContent">
  {% if cfgbestand and cfgjson %}
          <div class="tab-pane fade" id="bestand" role="tabpanel" aria-labelledby="bestand-tab">
          <div class="form-group">
              <textarea class="form-control" id="result" rows="30" cols="50">{{ cfgbestand }}</textarea>
          </div>
          </div>

          <div class="tab-pane fade" id="verwerkt" role="tabpanel" aria-labelledby="verwerkt-tab">
          <div class="form-group">
            <textarea class="form-control" id="result" rows="30" cols="50">{{ cfgjson }}</textarea>
          </div>
          </div>
  {% endif %}
          <div class="tab-pane fade" id="alleinstellingen" role="tabpanel" aria-labelledby="alleinstellingen-tab" style="width: 100%">
            {{ ConfigTableHTML | safe }}
          </div>
          <div class="tab-pane fade show active" id="overzicht" role="tabpanel" aria-labelledby="overzicht-tab" style="width: 100%">
  {% if cfgJsonObject %}

            <legend class="border-bottom mb-1"></legend>

              {{ overviewImpact | safe }}

  {% endif %}
          </div>
        </div>
        
</div>
<legend class="border-bottom mb-4"></legend>


{% endblock %}