{% extends "base.html" %}
{% block inhoud %}


<h1>Welkom <b>{{ current_user.username.title() }}</b></h1>
<div class="card" style="width: 18rem;">
    <img src="\static\icons\import-icon.png" class="card-img-top" alt="icon">
    <div class="card-body">
      <h5 class="card-title">Configuratieimport</h5>
      <p class="card-text">Een (Python flask web-applicatie) die aan de hand van firewallconfiguratie de gebruikte instellingen en impact van deze instellingen weergeeft.</p>
      <a href="/configuratieimport" class="btn btn-secondary">Ga naar</a>
    </div>
  </div>

{% endblock %}