<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Eigen CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico" />
    <title>Hulpmiddel voor firewalls</title>
  </head>

    <!-- Navigatie bar -->
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">

        <a class="navbar-brand mr-5" href="/">
            <img src="/static/yndeks.png" width="60" height="33.75" class="d-inline-block align-top" alt="">
            <b>Hulpmiddel voor firewalls (v0.6)</b></a> 
        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>-->
        <!--<div class="collapse navbar-collapse" id="navbarToggle">-->
          <div class="navbar-nav mr-auto">
            <!-- Navigatie bar items -->
            <!--  <a class="nav-item nav-link" href="/">Home</a> -->
          </div>
          <!-- Navigatie bar rechts login/register -->
        <!--</div>-->

        <!-- dropdown menu -->
          <div class="navbar-nav">
            {% if current_user.is_authenticated %}
              <div class="dropdown">
                <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <b>{{ current_user.username.title() }}</b>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="{{ url_for('configuratiehulp') }}">Configuratiehulp</a>
                  <a class="dropdown-item" href="{{ url_for('configuratieimport') }}">Configuratieimport</a>
                  <a class="dropdown-item" href="{{ url_for('account') }}">Account</a>
                  <a class="dropdown-item" id="logout" href="{{ url_for('logout') }}">Uitloggen</a>
                  <div class="dropdown-divider"></div> 
                  <a class="dropdown-item disabled"><small>{{ request.environ.get('HTTP_X_REAL_IP', request.remote_addr) }}</small></a>
                </div>
              </div>
          
            {% else %}
              <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
              <a class="nav-item nav-link" href="{{ url_for('register') }}">Registreren</a>
            {% endif %}
          </div>

      </div>
    </nav>
  </header>
  <body>


    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}"> <!-- Voor weergeven van statussen, error, ingelogd, succes, etc -->
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
          {% block inhoud %}{% endblock %}
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script> 

      // Legen van de localstorage wanneer op "uitloggen" gedruk wordt //
      $(function () {
        $("#logout").on('click', function () {
            localStorage.clear();
        })})
        
      // Show/hide functionaliteit, status wordt opgeslagen in localstorage //
      $(function () {
          var sidebarVisible = localStorage.getItem('configuratie_vpnDiv') == 'true'; // Get the value from localstorage      
          $("#vpnToggleButton").on('change', function () {
              $("#configuratie_vpnDiv").toggle(300, function () {
                  localStorage.setItem('configuratie_vpnDiv', $('#configuratie_vpnDiv').is(':visible')); // Save the visibility state in localstorage
                  $('#configuratie_vpnDiv>').val('') // clear value when toggled
              });
          });
          $('#configuratie_vpnDiv').toggle(sidebarVisible); // Toggle sidebar, true: show, false: hide

          var sidebarVisible = localStorage.getItem('configuratie_interfaceDiv') == 'true'; // Get the value from localstorage      
          $("#interfaceToggleButton").on('change', function () {
              $("#configuratie_interfaceDiv").toggle(300, function () {
                  localStorage.setItem('configuratie_interfaceDiv', $('#configuratie_interfaceDiv').is(':visible')); // Save the visibility state in localstorage
                  $('#configuratie_interfaceDiv>').val('')  // clear value when toggled
              });
          });
          $('#configuratie_interfaceDiv').toggle(sidebarVisible); // Toggle sidebar, true: show, false: hide


          var sidebarVisible = localStorage.getItem('configuratie_FANDiv') == 'true'; // Get the value from localstorage      
          $("#fanToggleButton").on('change', function () {
              $("#configuratie_FANDiv").toggle(300, function () {
                  localStorage.setItem('configuratie_FANDiv', $('#configuratie_FANDiv').is(':visible')); // Save the visibility state in localstorage
                  $('#configuratie_FANDiv>').val('')  // clear value when toggled
              });
          });
          $('#configuratie_FANDiv').toggle(sidebarVisible); // Toggle sidebar, true: show, false: hide
      
      });            
  </script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>

// Interactief ophalen van data, zonder dat de pagina opnieuw ingeladen moet worden WIP//
    $(function() {
      $('a#process_input').bind('click', function() {
        $.getJSON('/generator', {
          configuratie_vpn: $('textarea[name="configuratie_vpn"]').val(),
        }, function(data) {
          $("#result").text(data.result);
        });
        return false;
      });
    });
</script>

  </body>
</html>
