{% extends "base.html" %}
{% block inhoud %}
<h1>Configuratieimport</h1>

<form action="/configuratieimport" method="POST" enctype="multipart/form-data">

    <div class="form-group">
      <div class="custom-file">
        <input type="file" class="custom-file-input" name="configuratiebestand" id="image">
        <label class="custom-file-label" for="configuratiebestand">Selecteer configuratiebestand...</label>
      </div>
    </div>

    <button type="submit" class="btn btn-secondary">Importeren</button>

  </form>

<legend class="border-bottom mb-4"></legend>

        <div class="form-group">
            <textarea class="form-control" id="result" rows="30" cols="50">{{ bestand }}</textarea>
        </div>

<legend class="border-bottom mb-4"></legend>

{% endblock %}