{% extends "base.html" %}
{% block inhoud %}
<h1>Configuratieimport</h1>

<form action="/configuratieimport" method="POST" enctype="multipart/form-data">


    <div class="input-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input" name="configuratiebestand" id="configuratiebestand" aria-describedby="inputGroupFileAddon04">
          <label class="custom-file-label" for="configuratiebestand">Kies een bestand</label>
        </div>
        <div class="input-group-append">
          <button type="submit" class="btn btn-outline-secondary" id="btn">Importeren</button>
        </div>
      </div>

</form>
<legend class="border-bottom mb-4"></legend>

        <div class="form-group">
            <textarea class="form-control" id="result" rows="30" cols="50">{{ bestand }}</textarea>
        </div>

<legend class="border-bottom mb-4"></legend>

{% endblock %}