
{% extends "base.html" %}

{% block inhoud %}

<form method="POST" action="">
    {{ form.hidden_tag() }}

    <div class="row">
        <div class="column">
            <legend class="border-bottom mb-4">Configuratie generen</legend>
              
                <div class="form-group">
                    {{ form.submit(class_="btn btn-secondary") }} <a href=# id=process_input><button class='btn btn-secondary'>Update</button></a>
                </div> 
            <legend class="border-bottom mb-4"></legend>
            <div class="form-group">     
                        <button type="button" id="vpnToggleButton" class="btn btn-secondary">VPN</button>
                        <button type="button" id="interfaceToggleButton"  class="btn btn-secondary">Interface</button>
            </div> 
            <legend class="border-bottom mb-4"></legend>

                <div class="configuratieoptie" id="configuratie_vpnDiv" style="display: none">
                    {{ form.configuratie_vpn.label(class="form-control-label") }}
                    {% if form.configuratie_vpn.errors %}
                        {{ form.configuratie_vpn(class="form-control form-control-lg is-invalid" ) }}
                        <div class="invalid-feedback">
                            {% for error in form.configuratie_vpn.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.configuratie_vpn(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="configuratieoptie" id="configuratie_interfaceDiv" style="display: none">
                    {{ form.configuratie_interface.label(class="form-control-label") }}
                    {% if form.configuratie_interface.errors %}
                        {{ form.configuratie_interface(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.configuratie_interface.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>

                    {% else %}
                        {{ form.configuratie_interface(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

        </div>
        <div class="column">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Uitvoer</label>
                <textarea class="form-control" id="result" rows="10">{{ output }} </textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Feedback</label>
                <textarea class="form-control" id="result" rows="8">{{ output }}</textarea>
            </div>
        </div>
    
    </div> 

</form>


{% endblock %}