
{% extends "base.html" %}

{% block inhoud %}

<form method="POST" action="">
    {{ form.hidden_tag() }}

    <div class="row">
        <div class="column1">
            <legend class="border-bottom mb-4">Configuratie generen</legend>
              
                <div class="form-group">
                    {{ form.submit(class_="btn btn-secondary") }} <a href=# id=process_input><button class='btn btn-secondary'>Update</button></a>
                </div> 
            <legend class="border-bottom mb-4"></legend>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <div class="btn-group-toggle" id="vpnToggleButton" data-toggle="buttons"><label class="btn btn-outline-secondary"><input type="checkbox" autocomplete="off">VPN</label></div>
                <div class="btn-group-toggle" id="interfaceToggleButton" data-toggle="buttons"><label class="btn btn-outline-secondary"><input type="checkbox" autocomplete="off">Interface</label></div>          
            </div> 
            <legend class="border-bottom mb-4"></legend>
                <div class="configuratieoptie" id="configuratie_vpnDiv" style="display: none">
                    {{ form.configuratie_vpn.label(class="form-control-label") }}
                    {% if form.configuratie_vpn.errors %}
                        {{ form.configuratie_vpn(class="form-control form-control-lg is-invalid" ) }}
                        <div class="invalid-feedback">
                            {% for error in form.configuratie_vpn.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.configuratie_vpn(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="configuratieoptie" id="configuratie_interfaceDiv" style="display: none">
                    {{ form.configuratie_interface_wan_ip.label(class="form-control-label") }}
                    {% if form.configuratie_interface_wan_ip.errors %}
                        {{ form.configuratie_interface_wan_ip(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.configuratie_interface_wan_ip.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>

                    {% else %}
                        {{ form.configuratie_interface_wan_ip(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

        </div>
        <div class="column2">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Uitvoer</label>
                <textarea class="form-control" id="result" rows="10">{{ output }} </textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Feedback</label>
                <textarea class="form-control" id="result" rows="8">{{ output }}</textarea>
            </div>
        </div>
    
    </div> 

</form>


{% endblock %}